# Pyt
hon
__pycache__/
*.pyc
*.pyo
*.pyd
*.log

# Poetry
.venv/
poetry.lock

# Env
.env

# IDE
.vscode/
.idea/

# OS
.DS_Store

# Docker
*.pid

# Alembic cache
alembic/__pycache__/

# Python build
build/
dist/
*.egg-info/

# Logs
logs/
